- name: Install Docker
  apt:
    name: docker.io
    state: present

- name: Start Docker
  service:
    name: docker
    state: started
    enabled: yes

- name: Initialize Docker Swarm
  shell: docker swarm init || true
